@charset "utf-8";
/* カスタムプロパティの設定 */
:root {
	--headerHeight: 150px;
	--menuWeight: 250px;
	--buttonColor: rgb(50, 156, 255);
	--buttonHover: rgb(42, 144, 240);
	--buttonCurrent: rgb(37, 128, 212);
	--bgColor: rgb(237, 247, 255);
	--footerColor: rgb(45, 154, 255);
	--menuBg: rgb(204, 231, 255);
}

/* メニューを開く・閉じるanimationの設定 */
@keyframes openMenu {
	0% {
		left: calc(-1 * var(--menuWeight));
	}
	100% {
		left: 0;
	}
}

@keyframes closeMenu {
	0% {
		left: 0;
	}
	100% {
		left: calc(-1 * var(--menuWeight));
	}
}

/* 画面幅を767px以下にした場合、メニューの幅を少し小さくする */
@media screen and (max-width:767px){
	:root {
		--menuWeight: 150px;
	}
}

/* スクロールをスムーズにする */
html {
	scroll-behavior: smooth;
}

/* ページ全体の設定 */
body{
	width: 100%;
	margin: 0 auto;
	overflow-y:scroll;
}

html, body{
    margin: 0;
    padding: 0;
    border: 0;
}

/* リンクの設定 */
a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: .3s;
    color: #555555;
}

a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #31aae2;
    transition: .3s;
    transform: translateX(-50%);
}

a:hover::after{
    width: 100%;
}

/* ヘッダーの設定 */
header{
	top: 0;
	width: 100vw;
	height: var(--headerHeight);
	position: fixed;
	text-align: center;
	display: flex;
}

#header{
	height: var(--headerHeight);

	left: var(--menuWeight);
	flex-grow: 1;

	background: var(--buttonColor);
	color: rgb(50, 64, 255);
	font-size: 80px;
	font-weight: bold;
	font-style: italic;
	vertical-align: middle;
}

#header:hover{
	background: var(--buttonHover);
}

#header p{
	margin: 0 auto;
	line-height: var(--headerHeight);
}

div#list ul li a {
    position: static;
    border-bottom: solid #31aae2 2px;
}

/* メニューを開く用のボタンの設定 */
#menu_button{
	width: var(--menuWeight);
	height: var(--headerHeight);

	background: var(--bgColor);
	line-height:var(--headerHeight);
}

#menu_button a{
    background-color: var(--buttonColor);
    text-decoration: none;
    color: white;
    padding: 0 5px;
	display: inline-block;
	vertical-align: middle;
	font-size: 100px;
	width: 100px;
	height: 100px;
	line-height:100px;
}

#menu_button a:hover {
    background-color: var(--buttonHover);
}

/* ヘッダーアイコン部分の設定 */
#header_icon{
	position: absolute;
	width: var(--menuWeight);
	background: var(--bgColor);
	height: var(--headerHeight);
}

#header_icon table{
	width: 100%;
}

#header_icon img{
	border-radius: 50%;
	width: 100px;

}

#header_icon p{
	margin-block-start: 0;
	margin-block-end: 0;
}

/* メニューボタンの設定 */
#close{
	float: right;
	position: absolute;
	right: 0;
	top: 0;
}

/* メニューの設定 */
#menu{
	width: var(--menuWeight);
	height: 100vw;
	min-height: calc(100vh - var(--headerHeight));

	top: var(--headerHeight);

	background-color: var(--menuBg);

	display: block;
	position: fixed;

	padding-bottom: auto;
    z-index: 100;
}

#menu ul{
	padding: 0;
	margin: 0;
}
#menu ul li{
	list-style: none;
	text-align: center;
	margin-bottom: 1px;
}
#menu ul li a{
	display: block;
	padding: 4px;
}

#menu ul li.current a{
	background-color: var(--buttonCurrent);
}

.side_menu{
	left:calc(-1 * var(--menuWeight));
	animation-fill-mode: both;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
}

/* メイン部分の設定 */
#maintable{
	margin-top: var(--headerHeight);
	background-color: var(--bgColor);
	margin-bottom: 24px;
}
#main{
	width: calc(100% - var(--menuWeight));
	width: 100%;
	min-height: calc(100vh - 184px - 24px);
}

#main h1{
	background-color: rgb(255, 255, 255);
	border-left: rgb(110, 185, 255) solid 15px;
	margin-top: 0;
}

#main h2{
	width: auto;

	padding-right: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

/* トップに戻るボタンの設定 */
#pageTop{
	width: 80px;
	height: 80px;

	right: 10px;
	bottom: 50px;

	position: fixed;
	vertical-align: middle;
	text-align: center;
	font-size: 50px;
	padding: 0;
	border-radius: 50%;
	pointer-events:none;
	opacity:0;
}

/* フッタの設定 */
footer{
	width: 100%;

	bottom: 0;
	float: left;

	background-color: var(--footerColor);
	text-align: center;
	position: fixed;

}

footer p{
	color: #ffffff;
	margin-block-start: 0;
	margin-block-end: 0;
	margin: 0;
}

footer a {
    color: white;
}

#what-tensile, #example, #developer {
    background: -moz-linear-gradient(top, #b1c7ec, #d5d5e8);
    background: -webkit-linear-gradient(top, #b1c7ec, #d5d5e8);
    background: linear-gradient(to bottom, #b1c7ec, #d5d5e8);
    margin: 0;
    border: 0;
    padding: 5px;
}

#func-details, #rule {
    background: -moz-linear-gradient(top, #d5d5e8, #b1c7ec);
    background: -webkit-linear-gradient(top, #d5d5e8, #b1c7ec);
    background: linear-gradient(to bottom, #d5d5e8, #b1c7ec);
    margin: 0;
    border: 0;
    padding: 5px;
}

h2{
    margin-left: 1%;
}

h3{
    margin-left: 2%;
}

p{
    margin-left: 3%;
    margin-right: 3%;
}

#rule-area{
    margin: 0 auto;
    border: solid 2px rgb(184, 187, 188);
    border-radius: 2px;
    height: 500px;
    width: 98%;
    overflow: auto;
    background-color: rgb(227, 233, 233);
}

table {
    border-collapse: collapse;
}

.table-base {
    width: 95%;
    table-layout: fixed;
    margin: 0 3% 30px;
}

.table-base, .table-base td, .table-base th {
    border: 1px solid black;
    padding: 15px 10px;
}

.table-base th {
    width: 100px;
    text-align: center;
}

#header_link {
    width: 200px;
    height: 150px;
}

#header_link div {
    height: 50%;
    line-height: 75px;
    vertical-align: middle;
    border: none;
    margin: 0;
}

#header_login {
    background-color: #72d2ff;
}

#header_login a {
    color: #004d70;
}

#header_login:hover {
    background-color: #3eb3e9;
}

#header_signup {
    background-color: #70f8ff;
}

#header_signup a {
    color: #006065;
}

#header_signup:hover {
    background-color: #31d9e2;
}

/* スマホ用の設定 */
@media screen and (max-width:470px){
	#header{
		font-size: 50px;
	}
}
